body {
    max-width: 1280px;
    margin: 0 auto 0 auto;
    height: auto;
}

.header {
    width: 100%;
    text-align: center;
    background-color: #202a25;
    color: #f0f2ef;
}

.header-title {
    margin: 0;
    display: inline-block;
}

.menu-btn {
    float: left;
    margin: 10px 0 0 20px;
    cursor: pointer;
    background-color: #6c757d;
    color: #f0f2ef;
    border-color: #6c757d;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: 0.25rem;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#map {
    width: 70%;
    height: 800px;
}

aside {
    width: 30%;
    background-color: #202a25;
    color: #f0f2ef;
}

.search-box {
    text-align: center;
    width: 90%;
    margin-left: 20px;
    background-color: #f0f2ef;
    color: #202a25;
}

.places-list {
    list-style: none;
    text-align: left;
    margin: 10px 0;
    padding-left: 20px;
    display: block;
}

.place {
    cursor: pointer;
    width: 80%;
    margin: 10px;
    padding: 5px 5px 5px 10px;
    border: 1px outset grey;
    border-radius: 20px;
}

    .place:hover {
        background-color: #494949;
    }

.info-window {
    width: 200px;
    height: auto;
}