.header {
    width: 100%;
    text-align: center;
    background-color: #202a25;
    color: #f0f2ef;
}

.header-title {
    margin: 0;
    display: inline-block;
}

.menu-btn {
    float: left;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#map {
    width: 70%;
    height: 500px;
}

aside {
    width: 30%;
    background-color: #202a25;
    color: #f0f2ef;
}

.search-box {
    text-align: center;
    width: 70%;
}

.search-button {
    width: 50px;
}

.places-list {
    list-style: none;
    text-align: left;
    margin: 0;
    margin-top: 10px;
    padding-left: 20px;
    display: block;
}

.place {
    
}