@media screen and (max-width: 699px) {
    #map {
        height: 300px;
        width: 100%;
    }

    aside {
        width: 100%;
    }

    .search-box {
        width: 80%;
    }
}

@media screen and (min-width: 700px) and (max-width: 870px) {
    #map {
        height: 500px;
        width: 70%;
    }

    .search-box {
        width: auto;
    }

    aside {
        width: 30%;
    }
}

@media screen and (min-width: 871px) {
    #map {
        height: 800px;
        width: 70%;
    }

    .search-box {
        width: 90%;
    }

    aside {
        width: 30%;
    }
}

body {
    max-width: 1280px;
    margin: 0 auto 0 auto;
    height: auto;
}

.header {
    width: 100%;
    text-align: center;
    background-color: #202a25;
    color: #f0f2ef;
}

.header-title {
    margin: 0;
    display: inline-block;
}

.menu-btn {
    float: left;
    margin: 5px 0 0 20px;
    cursor: pointer;
    background-color: #6c757d;
    color: #f0f2ef;
    border-color: #6c757d;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    line-height: 2;
    border-radius: 0.25rem;
}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    background-color: #202a25;
    color: #f0f2ef;
}

.search-box {
    text-align: center;
    margin-left: 20px;
    background-color: #f0f2ef;
    color: #202a25;
}

.places-list {
    list-style: none;
    text-align: left;
    margin: 10px 0;
    padding-left: 20px;
    display: block;
}

.place {
    cursor: pointer;
    width: 80%;
    margin: 10px;
    padding: 5px 5px 5px 10px;
    border: 1px outset grey;
    border-radius: 20px;
}

    .place:hover {
        background-color: #494949;
    }

.info-window {
    width: 200px;
    height: auto;
}

.data-provider {
    font-size: 0.85em;
    color: #4286f4;
    text-decoration: none;
}

footer {
    color: #f0f2ef;
    font-size: 0.85em;
    text-align: center;
    padding: 5px;
}

.App {
    background-color: #202a25;
}